<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content}, 'Show Post')}">
<body>
<div th:fragment="content">
    <article>
        <header class="mb-4">
            <h1 class="page-title text-start" th:text="${post.subject}">Post Subject</h1>
            <div class="post-date mb-4">
                <i class="far fa-calendar me-1"></i>
                <span th:text="${#temporals.format(#temporals.createDate(#strings.substring(post.date, 0, 4) + '-' + #strings.substring(post.date, 5, 7) + '-' + #strings.substring(post.date, 8, 10)), 'MMMM d, yyyy')}">Date</span>
            </div>
        </header>

        <div class="divider"></div>

        <div class="post-content mb-5" th:text="${post.content}">
            Post content will appear here...
        </div>

        <div class="divider"></div>

        <footer class="d-flex justify-content-between align-items-center pt-3">
            <a th:href="@{/posts}" class="btn btn-outline-secondary">
                <i class="fas fa-arrow-left me-2"></i>Back to posts
            </a>
            <div>
                <a th:href="@{/edit/{id}(id=${post.id})}" class="btn btn-outline-secondary me-2">
                    <i class="fas fa-edit me-1"></i>Edit
                </a>
                <a th:href="@{/delete/{id}(id=${post.id})}" class="btn btn-outline-danger"
                   onclick="return confirm('Are you sure you want to delete this post?')">
                    <i class="fas fa-trash me-1"></i>Delete
                </a>
            </div>
        </footer>
    </article>
</div>
</body>
</html>
